.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header */
.header{
    background-image: url(../assets/images/developer.png), url(../assets/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}

nav ul li {
    list-style: none;
    font-size: 20px;
    margin: 51px;
}
nav li a {
    text-decoration: none;
}

.dark-2{
    color: #474747;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-titles{
    font-size: 65px;
    font-weight: bold;
}

.banner-description{
    font-size: 18px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-width: 580px;
    margin: 0 35px 0 200px;
}