.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav {
    display: flex;
    flex-direction: column;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}